<div style="width:100%;">


<div style="display: inline-block; float:left">

<h1 style="color:black;font-weight: bold">SLO ML Template</h1>

<ace-editor [(text)]="code" mode="json" style="height:600px; width:600px; background-color:#357791; font-size: 1.0em; font-color:red"></ace-editor>

</div>

<div style="display: inline-block; float:left; vertical-align: middle; margin-top: 450px; padding-left:150px; padding-right:150px">
  <button type="button">Click Me!</button>
</div>

<div style="display: inline-block; vertical-align:top; float: right">
<!-- <ngx-json-viewer [json]="data"></ngx-json-viewer> -->

<h1 style="color:black;font-weight: bold">Terraform Template</h1>

<ace-editor [(text)]="code" style="height:600px; width:600px;  background-color:#357791; font-size: 1.0em; font-color:red;"></ace-editor>


<!-- <ngx-json-viewer [json]="data"></ngx-json-viewer> -->
</div>

</div>